# Python
__pycache__/
*.py[cod]
.venv/
venv/
project_temp/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js / React
.next/
out/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environments
.env
.env.local
.env.development
.env.production
.env.*
